.contacts-form {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    grid-template-rows: 45px 190px 45px;
    row-gap: 30px;
    column-gap: 25px;
    &__textarea {
        grid-column: 1/3;
    }
}

@media (max-width: 720px) {
    .contacts-form {
        grid-template-columns: repeat(1, 280px);
        grid-template-rows: 45px 45px 150px;
        &__textarea {
            grid-column: unset;
        }
    }
}