@import '../../sass/variables';

.contacts-button {
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 12px 25px;
    background: linear-gradient(to bottom right, $main-color, $secondary-color);
    transition: all 0.3s;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color:black;
    &:not([disabled]):hover {
        color:white;
        background: linear-gradient(to top left, $main-color, $secondary-color);
        rotate: 2deg;
    }
    &.active {
        background: rgb(215, 211, 211);
        cursor: default;
    }
}